@import url("https://fonts.googleapis.com/css2?family=Lato:ital,wght@1,100&family=Poppins:wght@100&family=Roboto:wght@100&family=Ubuntu:ital,wght@1,300&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.r-font {
  font-family: "Roboto", sans-serif;
}
.u-font {
  font-family: "Ubuntu", sans-serif;
}
.p-font {
  font-family: "Poppins", sans-serif;
}
.l-font {
  font-family: "Lato", sans-serif;
}
html {
  scroll-behavior: smooth;
}
.header {
  background: rgba(0, 0, 0, 0.8)
    url("https://source.unsplash.com/1600x900/?codding,setups");
  background-size: 100% 100%;
  background-blend-mode: darken;
  height: 95vh;
}
.navbar {
  background-color: #212121;
  display: flex;
  align-items: center;
  justify-content: center;
  position: sticky;
  top: 0%;
}
.navlist {
  font-size: 1.05rem;
  display: flex;
  width: 80%;
  list-style-type: none;
  align-items: center;
  justify-content: center;
}
.navlist li {
  margin: 2% 5%;
}
.navlist li a {
  text-decoration: none;
  color: whitesmoke;
  font-weight: bold;
}
.navlist li a:hover {
  text-decoration: none;
  color: lightcoral;
}
.contact-btn {
  background-color: green;
  color: white;
  padding: 1% 2.5%;
  border-radius: 5px;
}
.header-contact-btn {
  background-color: green;
  text-decoration: none;
  padding: 1% 2.5%;
  border-radius: 5px;
  width: 50%;
  display: none;
}
.header-contact-btn a {
  text-decoration: none;
  color: whitesmoke;
}
.contact-btn a {
  text-decoration: none;
  color: whitesmoke;
}
.info-header-container {
  color: white;
  margin: 0% auto;
  text-align: center;
  padding: 5% 0%;
}
.greet-para {
  margin-top: 5%;
  font-size: 1.5rem;
}
.header-name-heading {
  font-size: 7rem;
}
.skill-para {
  font-size: 2rem;
  margin-top: 1%;
  color: yellow;
}
.location-para {
  font-size: 1.5rem;
  margin-top: 2%;
}
.links-item {
  text-align: center;
}
.links-item a {
  margin: 3% 2.5%;
}
.links-item i {
  margin: 3% 0%;
  font-size: 2rem;
  color: whitesmoke;
}
.links-item i:hover {
  color: yellowgreen;
}
.about-container {
  background-color: #645233;
  color: whitesmoke;
  width: 70%;
  margin: 3% auto;
  padding: 2% 2%;
  border-radius: 5px;
}
.about-para {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.about-heading {
  text-align: center;
  font-weight: bold;
  font-size: 1.5rem;
}
.about-para-heading {
  color: yellow;
  font-size: 1.5rem;
  margin-top: 2%;
  text-align: left;
}
.hire-btn {
  background-color: red;
  width: 15%;
  margin-top: 3%;
  padding: 1.5% 1.5%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
}
.hire-btn:hover {
  background-color: black;
}
.hire-btn a {
  text-decoration: none;
  color: whitesmoke;
  font-size: 1.5rem;
}
.about-para1,
.about-para2,
.about-para3 {
  text-align: center;
  font-size: auto;
  margin-top: 2%;
}
.project-section {
  padding: 1% 1%;
  margin: auto;
}
.project-container-heading {
  text-align: center;
  font-weight: bold;
}
.project-container {
  display: flex;
}
.Scratch-projects-heading {
  font-size: 2rem;
  color: red;
  font-weight: bolder;
  margin-top: 2%;
}
.project-item {
  margin: 7% 3%;
  padding: 1% 1%;
  width: 35%;
  border-radius: 5px;
  box-shadow: 5px 5px 9px black;
}
.project-item-heading {
  margin: 2% 2%;
  color: red;
  font-size: 1.3rem;
}
.project-item-para {
  margin: 5% 2%;
  font-size: 20px;
}
.web-link {
  text-align: center;
  background-color: red;
  color: white;
  padding: 2% 2%;
  margin: 5% 2%;
  text-decoration: none;
  font-size: 1.5rem;
  border-radius: 5px;
}
.project-img-container img {
  width: 100%;
}
.footer {
  margin-top: 2%;
  height: 13vh;
  background: whitesmoke;
  color: #000;
  display: flex;
  align-items: center;
}
.footer-contant {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.footer-para {
  padding: 2% 0%;
}
.footer-link {
  width: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.footer-link a {
  margin: 0% 2%;
}
.footer-link i {
  font-size: 20px;
  color: #000;
}
.footer-link i:hover {
  color: red;
}
.burger {
  position: fixed;
  top: 2%;
  cursor: pointer;
  left: 2%;
  display: none;
}
.line {
  background-color: whitesmoke;
  width: 32px;
  height: 5px;
  margin: 3px 3px;
}
